@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    
    
}
.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.canavas {
    background: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
    padding: 0 20px;    
}
img {
    height: 40%;
    width: 18%;
    border-radius: 50%;
}

.canavas #button{
    font-size: 1.35rem;
    font-family: 'Pacifico', cursive;
    color: rgb(155, 153, 153);
    background-color: #21252996;
    border: solid #212529 2px;
    padding: 0.75%;
    border-radius: 20px;
}
.canavas #button:hover{
    color: white;
}
#main-nav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0,0.7);
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#main-nav ul li{
    margin: 0 1rem;
    
}
#main-nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Acme , sans-serif;
    font-size: 1.40rem;
    color: #F4C724;
    letter-spacing: 3px;
    padding: 1rem;
}
#main-nav ul li a:hover{
    color: #35f424;
    text-decoration: none;
}


.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.burger{
    display: none;
}
.text {   
    color: rgb(0, 0, 0);
    font-size: 2.75rem;  
}
#highlight {
    color: #F4C724;
    font-family: 'Comfortaa', cursive;
}
#highlight:hover {
    color: #35f424;
    
}
section{
    height: 100vh;
}
.links a{
    display: inline-flex;
    margin: 1%;
    text-decoration: none;    
}
#aboutMe>h3{
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 1.75rem;
    font-family: 'Rowdies', cursive;
}
#aboutMe>h3>span{
    font-size: 2.5rem;
    color: purple;
    text-transform: uppercase;
}
#aboutMe h4{
    color: purple;
    font-size: 1.75rem;
    font-weight: bolder;
    text-align: center;
}
#about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 11.5%;

}
#life{
    width: 30%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    border: solid 2px purple;
    border-radius: 10%;
    padding: 2%;
    margin: 1%;
}
#education{
    width: 30%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.35rem;
    border: solid 2px purple;
    border-radius: 10%;
    padding: 2%;
    margin: 1%;
    
}
#education>h6{
    font-size: 1.5rem;
    font-weight:bold ;
}
#experience{
    width: 30%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    border: solid 2px purple;
    border-radius: 10%;
    padding: 2%;
    margin: 1%;
}
#github:hover{
    color: black;
}
#linkedin:hover{
    color: #0e76a8;
}
#mail:hover{
    color:#ce3e2b;
}
#fb:hover{
    color: #3b5998;
}
#ig:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#html5 {
    color: red;
}


  /* @media (max-width: 934px){
    nav{
        background-color: transparent;
    }
    .burger{
      display: block;
      margin-left: 90%;
    }
    .nav-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 50%;
      height: 100vh;
      background: rgba(0, 0, 0,0.7);
      top: 0vh;
      margin-left: 50%;
      transition: all .5s;
    }
    nav ul li{
      display: flex;
      margin: 30px 0;
      line-height: 30px;
    }
    
    .burger:active ~ *ul{
      left: 0;
    }
  } */